<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url('assets/images/zdRatusz.jpg'); background-size: cover; background-position: center;">
  <div class="col-md-5 p-lg-5 mx-auto my-5 rounded bg-dark text-white" style="opacity: 0.8;">
    <h1 class="display-4 font-weight-bold">Zdjęcia</h1>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
&nbsp;









<div class="container d-flex justify-content-center">
  <div class="carousel-container">
    <div id="carouselExample" class="carousel slide" style="padding: 0 10px;">
      <div class="carousel-inner">
        <div class="carousel-item ">
          <div class="frame">
              <img src="assets/images/zd2.jpg" class="img-fluid d-block mx-auto carousel-img" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Budowa przystanku</h1>
              <p>Budowa przystanku kolejowego Rzeszów - Baranówka.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="frame">
              <img src="assets/images/zd3.jpg" class="img-fluid d-block mx-auto carousel-img" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Wystąpienie</h1>
              <p>Wystąpienie na temat problemów komunikacyjnych miasta Rzeszowa.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="frame">
              <img src="assets/images/zd5.jpg" class="img-fluid d-block mx-auto carousel-img" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Przebudowa dworca</h1>
              <p>Przebudowa oraz modernizacja stacji kolejowej w Rzeszowie.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>


<style>
  .frame {
    max-width: 1000px; /* maksymalna szerokość obrazka */
    margin: 0 auto; /* centrowanie obrazka */
  }
</style>



