<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url('assets/images/zdRatusz.jpg'); background-size: cover; background-position: center;">
    <div class="col-md-5 p-lg-5 mx-auto my-5 rounded bg-dark text-white" style="opacity: 0.8;">
      <h1 class="display-4 font-weight-bold">Wyzwania Komunikacyjne</h1>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
  
  
  &nbsp;
  <div class="col-lg-8 col-md-10 mx-auto" style="padding: 0 10px;">
  <h2 class="section-heading">Nasze miasto Rzeszów wczoraj, dziś i jutro.</h2>
&nbsp;


<p>Nasze miasto rozwija się prężenie w zasadzie od II wojny światowej. Z małego powiatowego
    miasteczka w dawnym województwie lwowskim, na styku z województwem krakowskim
    utworzono miasto wojewódzkie z siedzibą w Rzeszowie. W dużej mierze, Rzeszów więc
    „zawdzięczał” swój awans ówczesnym zmianom politycznym (zmiana granic, a w
    szczególności, niestety odebraniu Polsce Lwowa). Paradoksalnie położony na krzyżujących
    się głównych szlakach handlowych (drogi oraz linie kolejowe ze wschodu na zachód, oraz
    na kierunku południe -północ ) ułatwiały możliwości dla późniejszego rozwoju miasta.
    </p>
<p>Miastu dodatkowo sprzyjał bardzo udany dobór części prezydentów i zarządców miasta,
    którzy bardzo pozytywnie wpisali się w historie Rzeszowa pod kątem w szczególności
    rozwoju inwestycyjnego i budownictwa komunalnego. Co ciekawe dotyczy to nazwisk z
    okresu II RP (Roman Krogulski), PRL (Franciszek Ślusarczyk, Ludwik Chmura jak i w
    szczególności III RP (Zdzisław Banat, Mieczysław Janowski, Andrzej Szlachta, Tadeusz
    Ferenc). Było to istotne z uwagi na ogromne zmiany jakie przeszło miasto, tak w
    komunikacji, jak i budownictwie komunalnym i komercyjnym.
    </p>
<p>Tak dla przykładu można
    przytoczyć że po wojnie Rzeszów miał 30 tyś mieszkańców i powierzchnie 8 km2, obecnie
    200 tyś mieszkańców i powierzchnię 127 km2, a pod kątem obsługiwania handlu, szkół,
    zakładów pracy, służby zdrowia, kultury obsługuje tych dojeżdżających, dodatkowo nawet
    250 tyś mieszkańców miejscowości sąsiednich, jak i tysiące uchodźców z Ukrainy. Opisany
    wzrost znaczenia miasta pod kątem przestrzennym, gospodarczym i kulturocentrycznym
    powoduje konieczność realizacji dodatkowych inwestycji komunikacyjnych. Będą one
    usprawniały tak komunikację wewnętrzną w mieście jak i poprawią zewnętrzną dostępność
    Rzeszowa.
    </p>
<p>Z dużych inwestycji, które w sposób istotny przyczyniły się do lepszego
    skomunikowania miasta z pozostałymi ośrodkami w kraju należy wymienić wybudowaną
    przed laty autostradę A-4, zmodernizowaną magistralę kolejową E-30 Kraków-Rzeszów-
    Przemyśl, zmodernizowane linie kolejowe l-71 Tarnobrzeg-Rzeszów, l-106 Rzeszów -Jasło
    oraz samą modernizacje stacji Rzeszów Główny. Dodatkowo obecnie budowana droga
    ekspresowa S-19 oraz prace modernizacyjne na lotnisku Rzeszów Jasionka (miedzy innymi
    wybudowana linia kolejowa do terminalu pasażerskiego w ramach PKA) przyczyniają się do
    polepszenia zewnętrznego skomunikowania miasta.
    </p>
<p>Na szczególną uwagę zasługuje
    zrealizowany obecnie projekt Podmiejskiej Kolei Aglomeracyjnej, która już obsługuje ruch
    kolejowy aglomeracji rzeszowskiej (powiaty: rzeszowski, sędziszowsko-ropczycki,
    kolbuszowski, łańcucki, przeworski, strzyżowski, dębicki). Bardzo ważnym jest, aby w
    najbliższej przyszłości Rzeszów został włączony do realizacji budowy linii szybkich kolei
    łączących Warszawę z Podkarpaciem z umożliwieniem jazdy 200-250 km/h (tak, aby w ciągu
    2 godzin dojechać do stolicy). Taki projekt tzw. „szprycha 6 obecnie na etapie prac
    planistycznych CPK, powinien jak najszybciej wejść w fazę realizacji (prace projektowe i
    wykonawcze). W przyszłości Rzeszów powinien uzyskać dodatkowe połączenie ekspresówką
    bezpośrednio z Warszawą.
    </p>
<p>Obecnie w mieście trwają prace nad polepszeniem komunikacji
    wewnętrznej poprzez budowę obwodnicy południowej łączącej S-19 z ulicą Sikorskiego oraz
    domknięciem obwodnicy północnej od ul. Ciepłowniczej do Krakowskiej. Ważnymi
    projektami wymagającymi dalszych prac powinny być budowa dodatkowego mostu przez
    Wisłok łączącego wybudowaną Wisłokostradę z ulicą Siemieńskiego, jak i budowę wiaduktu
    łączącego ul. Kochanowskiego z ulicą Hofmanowej. To ostatnie zadanie będzie szczególnie
    ważne z uwagi na zakończoną budowę na Staroniwie zaplecza technicznego dla potrzeb kolei
    aglomeracyjnej (problem potencjalnie zamkniętych przejazdów kolejowych spowoduje
    konieczność budowy wymienionego wiaduktu bądź nawet dwóch wiaduktów.) 
    </p>
<p>Te i inne
    inwestycje (niewymienione takie jak budowa dwupoziomowego skrzyżowania na Pobitnym)
    powinny powstawać w oparciu o prowadzoną racjonalnie politykę przestrzenną miasta.
    Temat powinien być jeszcze dopracowany, bowiem należy opracować rozwiązania, jak ma
    wyglądać docelowo komunikacja w szczególności wewnętrzna, publiczna Rzeszowa za lat
    20,30,50? Mogłaby być oparta oprócz autobusów o dodatkowe elementy budowanej kolei
    aglomeracyjnej na podobieństwo SKM (dodatkowe bocznice kolejowe oraz przystanki).
    Należy poważnie rozważyć budowę nitki okrężnej szybkiego tramwaju z elementami
    tunelowymi w ciągu ulic Kochanowskiego, Konopnickiej, Reja, Okulickiego, Batalionów
    Chłopskich, Powstańców Warszawy, Armii Krajowej oraz doprojektowanego odcinka od
    Pobitnej przez Wisłok do Kochanowskiego zamiast proponowanych dyskusyjnych w
    poprzednich latach Monoraili. Ostateczna decyzja w tej sprawie powinna być poprzedzona
    wykonaniem studium wykonalności obejmującego analizy przestrzenne, ruchowe, techniczne,
    ekonomiczne, finansowe, środowiskowe, prawne.
    </p>
<p>Rzeszów ma ogromny potencjał budowlany
    i inwestycyjny, który mógłby być jeszcze w większym stopniu wykorzystywany dla
    większego rozwoju. Dlatego władze miasta w większym stopniu powinny sięgnąć po
    doświadczenia wielu środowisk: inżynierów, urbanistów, architektów oraz naukowców z
    Politechniki Rzeszowskiej oraz sąsiednich ośrodków akademickich bowiem pracy przed
    nami będzie jeszcze dużo.
    </p>
<p> Dodatkowym zagadnieniem wartym zasygnalizowania jest
    potrzeba poprawy jakości życia mieszkańców Rzeszowa i okolic poprzez budowę aquaparku
    wodnego oraz ogrodu zoologicznego na Słocinie (z ekspozycją zwierząt naszej strefy
    klimatycznej). Idealną lokalizacją będzie wykorzystanie terenów lasu na Słocinie i Rocha.
    Kwestia ta szczególnie jest istotna dla rodzin z dziećmi, a także potencjalnego rozwoju
    turystyki w Rzeszowie. W tej tematyce należy jeszcze wspomnieć o rozwijaniu terenów
    zielonych w szczególności rezerwatu Lisia Góra który jest unikatowym fenomenem na skalę
    światową (rezerwat przyrodniczy w centrum miasta). 
    </p>
<p>Wszystkie te zagadnienia wymagają
    jednak prowadzenia racjonalnej polityki przestrzennej i komunikacyjnej z zastrzeżeniem że
    nie powinna być to polityka prowadzona pod dyktando deweloperów. Na to nie ma zgody
    mieszkańców, Rzeszów jest miastem naszym i takim pozostanie.
    </p>

    <hr>
  
    <div class="clearfix">
  
      
      <a class="btn btn-primary float-left" routerLink="/" >← Strona główna<span class="d-none d-md-inline"></span></a>
      
      
  
    </div>
  </div>