<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url('assets/images/zdRatusz.jpg'); background-size: cover; background-position: center;">
  <div class="col-md-5 p-lg-5 mx-auto my-5 rounded bg-dark text-white" style="opacity: 0.8;">
    <h1 class="display-4 font-weight-bold">Życiorys</h1>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>


&nbsp;
<div class="col-lg-8 col-md-10 mx-auto" style="padding: 0 10px;">

  <p>Mgr inż. Jacek Kiczek. Wiek 50 lat. Rodowity rzeszowianin od trzech pokoleń. Absolwent Technikum
    Budowlanego w Rzeszowie oraz Politechniki Krakowskiej Wydziału Inżynierii Lądowej. Specjalizacja
    drogi kolejowe oraz budownictwo ogólne. W czasie studiów działał w NZS kierując całą
    krakowską organizacją.</p>

<p>Posiada uprawnienia do kierowania robotami budowlanymi oraz nadzoru bez
  ograniczeń w branży kolejowej, drogowej, mostowej, konstr-budowlanej. Zatrudniony w Urzędzie
  Marszałkowskim w Departamencie Dróg i Publicznego Transportu Zbiorowego na stanowisku głównego
  specjalisty oraz wykonuje wolny zawód inspektora nadzoru inwestorskiego.</p>

<p>W ostatnich 10 latach
  nadzorował największe budowy z branży infrastruktury komunikacyjnej na Podkarpaciu takie jak
  modernizacja magistrali kolejowej E30 Kraków - Przemyśl, modernizacja stacji Rzeszów Główny oraz
  stacji Rzeszów Zachodni, budowa linii kolejowej do Portu Lotniczego Rzeszów -Jasionka (PKA), budowa
  kolejowych przystanków osobowych: Sędziszów Wschodni, Rzeszów Dworzysko, Rzeszów Baranówka,
  Rzeszów Pobitno, Kolbuszowa Górna, Głogów Młp Niwa, Zaczernie, Rzeszów Staromieście, Rzeszów
  Centrum, Rzeszów Politechnika, Boguchwała Dolna, Lutoryż, Zaborów, Żarnowa, przebudowa stacji
  Strzyżów oraz Kolbuszowa.</p>

<p>Dodatkowo nadzorował budowę dworca kolejowego w Kolbuszowej,
        nastawni Rzeszów Główny, budynku przekaźnikowni w stacji Rzeszów Główny, budynku sekcji
        
        drogowej w stacji Rzeszów Główny, nastawni na Zaczerniu oraz na Staroniwie. Nadzorował Budowę S-
        19 na odcinku Rzeszów -Babica. Obecnie nadzoruje przebudowę bocznicy kolejowej w Jaśle. W
        
        latach 2002-2014 był Radnym Rady Miasta Rzeszowa. Natomiast w latach 2008-2014 był Prezesem
        rzeszowskiego stowarzyszenia „Mosty dla Demokracji”. Od wielu lat wspiera Konfederację jako ekspert
        do spraw inwestycji. Jest żonaty ma dwóch synów. Zainteresowania: samorząd, polityka wschodnia,
        inwestycje budowlane, surwiwal.</p>


  <hr>

  <div class="clearfix">

    
    <a class="btn btn-primary float-left" routerLink="/" >← Strona główna<span class="d-none d-md-inline"></span></a>
    
    

  </div>

</div>
