<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url('assets/images/zdRatusz.jpg'); background-size: cover; background-position: center;">
    <div class="col-md-5 p-lg-5 mx-auto my-5 rounded bg-dark text-white" style="opacity: 0.8;">
      <h1 class="display-4 font-weight-bold">Postulaty</h1>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
  
  
  &nbsp;
  <div class="col-lg-8 col-md-10 mx-auto" style="padding: 0 10px;">
    <h2 class="section-heading">Jako Radny Rady Miasta Rzeszowa będę dążył do powstania:</h2>
&nbsp;
<ul>
    <li><p>Budowy wiaduktu i estakady ponad torami kolejowymi łączącej ulice Wyspiańskiego z
Hoffmanową (dziś często zamknięte przejazdy kolejowe utrudniają płynność ruchu)</p></li>
  
<li><p>Dokończenie budowy Północnej obwodnicy Miasta Rzeszowa (potrzebna arteria drogowa od ul.
    Krakowskiej do ul. Rzecha)</p></li>
  
    <li><p>Budowa południowej obwodnicy miasta Rzeszowa (potrzebna nowa arteria drogowa od S-19 do
    Tyczyna)</p></li>
  
    <li><p>Wykonanie koncepcji budowy ZOO w Rzeszowie (nasze miasto zasługuje na wyjątkowe miejsce tj.
    ogród zoologiczny w lesie na Słocinie z ekspozycją zwierząt z naszej strefy klimatycznej )</p></li>

    <li><p>Wykonanie koncepcji budowy układu szybkiego tramwaju (potrzeba wykonać studium wykonalności
        czyli analizy techniczne, przestrzenne, środowiskowe, ekonomiczne i finansowe w wyniku których
        poznamy optymalne rozwiązanie komunikacyjne dla możliwości budowy szybkiego tramwaju w
        Rzeszowie)</p></li>


        <li><p>Jak najszybszego zakończenia budowy budynku dworca kolejowego Rzeszów Główny oraz przebudowy
        dworca PKS.</p></li>

        <li><p>Polepszenia skomunikowania miasta Rzeszowa z Warszawą poprzez budowę szybkiej kolei, tak aby w
        ciągu 2-3 godzin przemieścić się do stolicy.</p></li>
  
        <li><p>Budowy dodatkowych skwerów z ławeczkami i parków dla mieszkańców miasta (nasi mieszkańcy
    powinni mieć większą możliwość wypoczynku na powietrzu wśród zieleni parkowej w bliskiej
    odległości swoich budynków mieszkalnych)</p></li>

    <li><p>Budowy dodatkowych boisk dla młodzieży oraz wybiegów dla psów</p></li>
        <li><p>Otwarcia dodatkowych świetlic dla młodzieży (młodzież powinna mieć swoje kluby osiedlowe gdzie
    mogłaby spędzać czas w swoim gronie grając np. w ping ponga, planszówki, szachy itp. )</p></li>
    <li><p>Promowania harcerstwa w szkołach podstawowych (w każdej szkole powinna działać drużyna
    harcerska) oraz strzelectwa sportowego</p></li>
    <li><p>Przywrócenia szacunku wśród młodzieży dla dorobku ludzi starszych np. kombatantów (na naszych
    osiedlach jest tak wielu ludzi z wiedzą i dorobkiem zawodowym/życiowym, którzy powinni mieć
    możliwość wpływania na postawy młodych ludzi. Szkoła powinna nie tylko uczyć ale i
    wychowywać)</p></li>

    <li><p>Otwarcia świetlic na naszych osiedlach dla seniorów (seniorzy powinni powinni mieć miejsca dla
        rozwijania swoich pasji oraz spotkań towarzysko-kulturalnych)</p></li>
        <li><p>Ograniczenia wpływu deweloperów na miasto (mieszkańcy nie godzą się na nieograniczone
        zabudowanie budynkami mieszkalnymi i usługowymi naszych osiedli)</p></li>
        <li><p>Ograniczania wpływu nieprzemyślanych decyzji urzędników którzy usiłują nam narzucić wzorce
        kulturowe sprzeczne z naszą tradycją, religią oraz wątpliwe rozwiązania techniczne w dziedzinie np.
        ogrzewania domów (przymusowe termomodernizacje, zakazy poruszania się pojazdami o napędzie
        spalinowym etc) Rzeszów miastem wolnych ludzi.!!!</p></li>
    </ul>
    <hr>
  
    <div class="clearfix">
  
      
      <a class="btn btn-primary float-left" routerLink="/" >← Strona główna<span class="d-none d-md-inline"></span></a>
      
      
  
    </div>
  
  </div>
